@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
div#eth-season, div#bsc-season{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right:0px;
}

ul.MuiMenu-list {
  padding: 0px;
}
ul.MuiMenu-list li{
  padding: 0px;
}
label + .MuiInput-formControl{
  margin:0px !important;
}

.MuiSelect-icon{
  right: 10px !important;
  color:white !important;
}
div.MuiPopover-root .MuiPaper-root{
  background-color: rgba(0,0,0,0) !important;
}
ul.MuiList-root{
  box-shadow: inset 0px 4px 56px rgb(255, 255, 255, 0.18);
  border-radius: 10px;
  background-color: #030C1B;
}
ul.MuiList-root li:first-child > div{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
ul.MuiList-root li:last-child > div{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
div.MuiInputBase-root > div > div{
  box-shadow: inset 0px 4px 56px rgb(255, 255, 255, 0.18);
  border-radius: 10px;
  background-color: #030C1B;
}